@media (min-width:490px) and (max-width:768px) {

    .mainNavContainer {
        margin-left: -2rem;
    }

    .circleLogo {
        margin-right: .1rem;
        text-align: center;
        justify-content: center;
        margin-left: .5rem;
    }

    .navButtons {
        display: none;
        background-color: #fff;
    }

    #hamBurgerMenu {
        display: block;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: #fff;
        padding: 5px 10px;
        font-size: 1.3rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: transparent;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 83px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: #fff;
        background-color: #808080;
        padding: 12px 18px;
        text-decoration: none;
        display: block;
        font-size: .9rem;
        text-align: left;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd
    }

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }

    .header,
    .header2,
    .header3 {
        font-size: 8rem;
    }

    .header {
        margin-top: 5vh;
    }


    .heroButtons {
        display: flex;
        width: 100vw;
        height: auto;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .heroButtons .btntext {
        font-size: 1rem;
        padding: .8rem 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        width: 10rem;

    }

    #secBtn .btntext {
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #firstBtn {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    #heroInfo {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.1rem;
        margin-top: 4rem;
        font-weight: 100;
        color: #808080;
        margin-bottom: 5vh;
    }

    .circle {
        margin-left: -3vw;
    }

    .section1Heading {
        font-size: 1.4rem;
        width: 100vw;
    }

    .section1Content h2 {
        width: 70vw;
        font-size: 1.1rem;
    }

    .break,
    .break2 {
        display: block;
        background-color: #fff;
    }

    .break {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25rem;
        margin-top: 3rem;
    }

    .break2 {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    .section2Container {
        display: block;
        text-align: center;
        width: 100vw;
    }


    .section2Right {
        width: 100vw;
    }

    .section2Left {
        display: none;
    }

    .section2Right {
        height: auto;
        margin-left: auto;
    }

    .section2Right h2 {
        margin-left: auto;
        text-transform: capitalize;
    }

    .items {
        display: block;

    }

    .items img {
        height: 4rem;
        margin-left: auto;
        margin-top: 3rem;
    }

    .items h5 {
        font-size: 1.5rem;
        color: #fff;
    }

    .itemContent {
        margin: 0 auto;
        color: #808080;
        width: 60vw;
    }


    .kontaktForm {
        margin-top: 5vh;
    }

    .kontaktForm h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    #email,
    #phoneNum,
    #name,
    #message {
        width: 60vw;
        height: 2.7rem;
        border-radius: .4rem;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }


    .kontaktForm form #submit {
        width: 60vw;
        height: 2.7rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: .5rem;
        border: 1px solid #808080;
        font-size: 1.1rem;
    }


}